body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

h2 {
  width: 75%;
  text-align: center;
  border-bottom: solid 1px lightgray;
  line-height: 0.1em;
  margin: 20px 60px;
}

h2 span {
  background:#fff;
  color: #697784;
  padding:0 10px;
}

footer {
  background: #E8F4FF;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:25px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 5px 105px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  font-size: 16px;
  width: 250px;
  position: relative;
  background: #9BE8B6 !important;
  border-radius: 5px;
  color: #364451 !important;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
  background: #9BE8B6;
  border-radius: 5px;
}

.nav-link {
  color: #505E6B !important;
}

.log-out {
  text-decoration: none;
  color: #505E6B !important;
  font-weight: bold;
}

.nav {
  border-bottom: 5px solid #9BE8B6;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  padding-bottom: 0;
  right:0;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 0 10px;
  text-decoration: none;
}

.leaderboard {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  margin: 10px auto;
  margin-bottom: 5px;
  cursor: pointer;
}

.leaderboard-list {
  padding-left: 0;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question {
  width: 100%;
  max-width: 590px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.dashboard-list li:last-child {
  margin-bottom: 50px
}

.author {
  display: flex;
  background: #9ba7e8;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px 10px;
}

.author > p {
  font-weight: bold;
  margin: 25px 0;
  color: #364451;
}

.rank {
  display: flex;
  float: right;
  text-align: center;
  margin: 10px 0px;
  font-size: 20px;
  font-weight: bold;
  color: #364451;
}

#rank-1 {
  color: gold;
}

#rank-2 {
  color: silver;
}

#rank-3 {
  color: #cd7f32;
}



.question-header {
  font-size: 27px;
  color: #697784;
  font-weight: bold;
  display:block;
  overflow:hidden;
  width:100%;
  height:100%;
  text-align: center;
}

.question-info {
  margin: 10px;
  text-align: center;
}

.question-options {
  margin: 20px;
  color: #364451;

}

.question-details {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.new-question {
  width: 75%;
  max-width: 590px;
  margin: 10px 65px;
  display: flex;
  flex-direction: column;
}

.wyr {
  font-size: 17px;
  color: black;
  font-weight: bold;
  margin-left: 15px;
}

.results-header {
  font-size: 20px;
  font-weight: bold;
  display:block;
  overflow:hidden;
  width:100%;
  height:100%;
}

.results-option {
  font-size: 15px;
  font-weight: bold;
  display:block;
  width:100%;
  height:100%;
  text-align: center;
}

.poll {
  margin-left: 175px;
}

.authed-user {
  position:absolute;
  right:0;
}

.user-name{
  margin: 0 10px;
  color: #364451;
}

.user-rank{
  border: 1px solid #dad7d7;
  margin: 10px 0;
  border-radius: 5px;
}

.user-questions {
  float: right;
}

.user-score {
  text-align: center;
  border: 1px solid #dad7d7;
  border-radius: 5px;
  margin: 10px 0;
}

.user-info {
  margin-left: 25px;
  padding-bottom: 10px;
}

.score-header {
  font-size: 20px;
  font-weight: bold;
  color: #364451;
}

